.items {
  list-style: none;
  font-size: 22px;
  font-weight: 500;
  color: blue;
  cursor: pointer;
  padding: 0px 16px;
  text-decoration: none;
}

.items:hover {
  color: purple;
  text-decoration: underline;
}

ul {
  display: flex;
  justify-content: center;
  padding: 0px;
  margin-right: 0px;
}

@media only screen and (max-width:1024px) {
  .items {
    font-size: 16px;
    padding: 0px 8px;
  }

  .header {
    font-size: 20px;
  }
}