.items {
    list-style: none;
    font-size: 22px;
    font-weight: 500;
    color:blue;
    cursor: pointer;
    padding-left:35px;
    text-decoration: none;
  }
  .items:hover {
    color:purple;
  }
  